@font-face {
    font-family: resonantWoodsFont;
    src: url(resources/fonts/The-Californication.ttf);
}

body {
    background: #343434;
    max-width: 500px;
    margin: 0 auto;
}


h1 {
    color: #FFF;
    text-align: center;
    font-family: resonantWoodsFont;
    font-size: 6vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 15vw;
    }
}

.featured-track {
    margin-bottom: 2.5rem;
    -ms-transform: scale(0.85);
    -moz-transform: scale(0.85);
    -o-transform: scale(0.85);
    -webkit-transform: scale(0.85);
    transform: scale(0.85);
}

.button-links {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    max-width: 350px;
    width: 100%;
}

a {
    border-radius: 29px;
    border: 4px solid #FFF;
    width: 75%;
    height: 50px;
    flex-shrink: 0;
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    line-height: normal;
    margin: 10px 0;
}

a h2 {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    width: 70%;
}

a img {
    margin-left: 1.25rem;
    height: 40px;
    width: 40px;
}